.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}

.modal-container {
  position: absolute;
  width: 700px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: crimson;
  z-index: 2000;
  color: white;
  border-radius: 20px;

}

.modal-header {
  padding-left: 30px;
  padding-right: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.modal-close {
  border: none;
  font-size: 30px;
  cursor: pointer;
}
.modal-content {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  font-family: Roboto;
  font-style: normal;
  font-size: 21px;
  line-height: 32px;
}
.modal-text{
  margin-top: 40px;
  margin-bottom: 40px;
}

.modal-btns{
  margin-bottom: 30px;
}
