.button{
  margin: 5px;
  min-width: 140px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  border-radius: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.048),
    0 12.5px 20px rgba(0, 0, 0, 0.06);
  }

}
